<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-6">
      <h1>User info</h1>
      <%= form_with model: @user do |f| %>
       <p>name</p>
       <%= f.text_field :name %>
       <p>image</p>
       <%= f.file_field :profile_image %>
       <p>introduction</p>
       <%= f.text_area :introduction %>
       <%= f.submit 'Update user'%>
       <% end %>
    </div>
  </div>
</div>