<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-8">
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
      <p>title</p>
      <%= f.text_field :title %>
      <p>body</p>
      <%= f.text_area :body %>
      <%= f.submit '投稿' %>
      <% end %>
      <%= link_to 'show', book_path(@book) %>
      |
      <%= link_to 'back', books_path %>
    </div>
  </div>
</div>